<html data-theme="dark">
  <head>
    <title>HTMX SAM Test Site</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body hx-ext="request" class="p-6">
    <header id="header" hx-get="/api/navbar" hx-trigger="load"></header>
    <main>
      <div id="content" hx-get="/api/home" hx-trigger="load">Loading...</div>
    </main>
  </body>
</html>
